---
layout: home
---

<div class="content list">
  {% for post in paginator.posts %}
  <article>
    <header>
      <h1>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
      <time datetime="2013-12-31" pubdate>{{ post.date | date: "%b %d, %Y" }} + {% assign words = post.content | number_of_words %} {% if words < 360 %} Less than 1 min {% else %} Approx {{ words | divided_by: 180 }} mins {% endif %}</time>
    </header>
    {% if post.content contains "<!-- more -->" %}
      <p>{{ post.excerpt }}</p>
      <p>{{ post.content | split:"<!-- more -->" | first }}</p>
      <p>
        <a href="{{ post.url }}">+read-more</a>
      </p>
    {% else %}
      {{ post.content }}
    {% endif %}
    
    {% if post.type  == 'link' %}
      <p>
        <a href="{{ post.link }}">+visit-link</a>
      </p>    
    {% endif %}
</article>
  {% endfor %}

  <div class="list-end">
    <p>
      {% if paginator.previous_page %}
                        {% if paginator.previous_page == 1 %}
                            <a href="/">+prev</a>
                        {% else %}
                            <a href="{{ paginator.previous_page_path }}">+prev</a>
                        {% endif %}
                    {% else %}
                        <a>+prev</a>
                    {% endif %}
|
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}">+next</a>
                    {% else %}
                        <a>+next</a>
                    {% endif %}
    </p>
  
  </div>


</div>