---
layout: home
---

{% assign posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign year = posts[0] %}

<div class="grid">
  <div><p>{{year.name}}</p></div>
</div>

{% for post in year.items %}
  <div class="grid">
    <div {% if forloop.last %}style="border-bottom-width:1px"{% endif %}></div>
    <div>
      <p>
        {% if post.link %}
          <a rel="noreferrer" href="{{post.link}}">
            <h1>{{post.title}}</h1>
          </a>
        {% else %}
          <a href="{{post.url}}">
            <h1>{{post.title}}</h1>
          </a>
        {% endif %}
        <span>{{ post.date | date: "%b %d" }}</span>{% if post.author %} ⋆ {{post.author}}{% endif %}
      </p>
      <p>{{post.excerpt}}</p>
    </div>
  </div>
{% endfor %}

<div class="grid">
  <div>  
    <p style="text-align:center;max-width:100%">
      {% for year in posts offset:1 %}
        <a href="/{{year.name}}">{{year.name}}</a>{% if forloop.index != forloop.length %} | {% endif %}
      {% endfor %}
    </p>  
  </div>
</div>