---
layout: home
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% assign year = postsByYear[0] %}
  <div style="border: 1px solid #ddd;border-width:0px 0 1px 0; width: 100%;">
    <p>{{ year.name }} </p>
  </div>

  {% for post in year.items %}
    <div class="grid">
      <div></div>
        {% if forloop.last %}
        <div style="border-bottom: none;">
          {% else %}
        <div>
        {% endif %}
              <p>
            {% if post.link %}
              <a target='_blank' rel="noreferrer" href="{{post.link}}"><span style="font-weight:bold">{{ post.title }}</span></a>
            {% else %}
              <a href="{{post.url}}"><span style="font-weight:bold">{{ post.title }}</span></a>
            {% endif %}
            <br><span>{{ post.date | date: "%b %d" }}</span>
            {% if post.link %}
            ⋆ {{ post.author }}
            {% endif %}
          </p>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
  {% endfor %}

  <div style="border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;">
    <p>Archive: 
      {% for year in postsByYear offset:1 %}
          <a href="/{{year.name}}">{{ year.name }}</a> 
        {% if forloop.index != forloop.length %}
          |
        {% endif %}
      {% endfor %}
  </p>
</div>
