:root {
    --bg-color: #fff;
    --fg-color-text: #666;
    --fg-color-head: #333;

    --bq-color: whitesmoke;
    --cc-color: whitesmoke;
}

.dark {
    --bg-color: #151a1f;
    --fg-color-text: #c2ccd6;
    --fg-color-head: #f5f6f8;

    --bq-color: #222b33;
    --cc-color: #445566;
}

*, *:before, *:after { 
    box-sizing: border-box;
    transition: color 0.1s ease;
}

body {
    font-family: sans, sans-serif;
    line-height: 1.5;
    font-size: clamp( 1.1em, 1.25vmax, 1.5em );
    color: var( --fg-color-text );
    background-color: var( --bg-color );
    padding: 0em 1em;
    width: 100%; 
    max-width: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-size: 1em;
    color: var( --fg-color-head );
    margin-bottom: 0;
}

h2, h3 {
    border-bottom: 1px solid #ddd;
}


.grid > div:empty {
    border-top-width: 0;
    border-bottom-width: 0;
}

blockquote {
    background: var(--bq-color);
    margin: 0;
}

blockquote p {
    padding: 1em;
}

.grid > div:nth-child(odd) {
    padding-right: 1em;
}

pre {
    margin: 0;
}

pre, code {    
    font-family: mono, monospace; 
}

.highlighter-rouge {
    background: var( --cc-color );
    padding: 0 5px;
    border-radius: 2px;
    font-size: .8em;
    color: var( --fg-color-head );    
    overflow-x: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1em;
}

ul {
    list-style-type: circle
}

.bb {border-bottom: 1px solid #ddd;}
.bt {border-top: 1px solid #ddd;}

a {
    color: var( --fg-color-head);
    text-decoration-line: underline;
    text-decoration-color: #878E97;
    text-decoration-style: solid;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration-color:var( --fg-color-head)
}

a[href*="//"]:not([href*="pankajparashar.com"]):after {
    content: '↗';
}

img, p, h1, h2, blockquote, pre, .highlighter-rouge {
    max-width: 800px;
    width: 100%;
}