:root {
    --gap: 1em;
    --border: #eee;

    --fore-color: #333;
    --back-color: #fff;
    --code-color: #eee;
}

.dark {
    --fore-color: #fff;
    --back-color: #000;
    --code-color: #333;
}

img {max-width:100%}
body {
    font-size: 1em;
    font-family: 'Circular', sans-serif;
    line-height: 1.5;
    width: 100%;
    color: var(--fore-color);
    background-color: var(--back-color);
}

ol li {list-style-type: none;position:relative}
ol li:hover::before {
    content:'';
    position:absolute;
    left: -.5em;
}

ul {margin-bottom: 1.5em;margin-left: 1em;padding-left: 1em;}
.author {
    font-size: .8em;
    /* padding: .1em .5em;
    border-radius: 3px;
    border-left: 1px solid; */
    font-weight: bold;
    _background-color: var(--code-color);
    _margin-left: .5em;
}
h1, h2, h3 {font-weight:900}
h1, h2 {margin-bottom:1.5em}
@font-face {
    font-family: "Circular";
    src: url("/font/CircularStd-Book_grayscale.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("/font/CircularStd-Black.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


.highlight {overflow-x: auto;}
.grid {
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em,1fr));
    grid-gap: 2em;
    width: 100%;
	max-width: 100em;
    margin: auto;
}
div {    outline:0px dashed var(--code-color);}
.grid > div {
        _padding: var(--gap);
}
pp {text-align: justify;}

p:not(:last-child) { margin-bottom: 1em;}




*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'calt' 1, 'liga' 1, 'ss01' 1, 'ss03' 1, 'case' 1
}
strong {font-weight: bold;}
a { color:#999;}
a:hover {
    color: var(--fore-color); 
}
a:visited {text-decoration:line-through}
h2 {border-bottom:1px solid #eee;}
pre, code {
    font-family:'SFMono', monospace; 
    background-color: var(--code-color);
}

a[href*="//"]:not([href*="pankajparashar.com"]):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='0.8em' height='0.8em' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' fill='none' shape-rendering='geometricPrecision' style='color:red;'%3E%3Cpath d='M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6'%3E%3C/path%3E%3Cpath d='M15 3h6v6'%3E%3C/path%3E%3Cpath d='M10 14L21 3'%3E%3C/path%3E%3C/svg%3E");
    margin-left: 3px;
}

code {font-size:.8em}
pre {
    margin:0 0 1.5em 0;
    padding:.5em
}

blockquote {
    border-left: 1px solid currentColor;
    padding-left: 1em;
    margin-bottom: 1.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore-color: #fff;
        --back-color: #000;
        --code-color: #333;    
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --fore-color: #333;
        --back-color: #fff;
        --code-color: #eee;
    }
}