:root {
    --bg-color: #fff;
    --fg-color-text: #666;
    --fg-color-head: #333;

    --bq-color: whitesmoke;
    --cc-color: whitesmoke;
}

.dark {
    --bg-color: #151a1f;
    --fg-color-text: #c2ccd6;
    --fg-color-head: #f5f6f8;

    --bq-color: #222b33;
    --cc-color: #445566;
}

*, *:before, *:after { 
    box-sizing: border-box;
    transition: color 0.1s ease;
}

body {
    font-family: sans, sans-serif;
    line-height: 1.5;
    font-size: clamp( 18px, 1.25vmax, 1.5em );
    color: var( --fg-color-text );
    background-color: var( --bg-color );
    padding: 0em 1em;
    width: 100%; 
    max-width: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-size: 1em;
    color: var( --fg-color-head );
}

h2 {
    border-bottom: 1px solid #ddd;
}

blockquote {
    background: var(--bq-color);
    margin: 0;
}

blockquote p {
    padding: 1em;
}

.grid > div:nth-child(odd) {
    padding-right: 1em;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre, code {    
    font-family: mono, monospace; 
}

.highlighter-rouge {
    background: var( --cc-color );
    padding: 0 5px;
    border-radius: 2px;
    font-size: .8em;
    color: var( --fg-color-head );    
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

ul {
    list-style-type: circle
}

a {
    color: var( --fg-color-head);
    text-decoration-line: underline;
    text-decoration-color: #878E97;
    text-decoration-style: solid;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration-color:var( --fg-color-head)
}

a[href*="//"]:not([href*="pankajparashar.com"]):after {
    /*content: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z" fill="currentColor"/><path d="M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z" fill="currentColor"/></svg>');*/
    content: '↬';
}

img, p, h1, h2, blockquote, pre, .highlighter-rouge {
    max-width: 800px;
    width: 100%;
}