<footer style="display: grid; grid-template-columns: 1fr 1fr;">
  <div class="bb bl" style="padding:1em">
    <p>
      &copy;2020 |
      <a href="/feed.xml">Feed</a>
    </p>
  </div>
  <div class="bb bl" style="padding: 1em; text-align: start;">
    <p style="text-align: right;">
      <a href="mailto:email@pankajparashar.com">Email</a> | 
      <a href="https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fpankajparashar.com">Audit</a> | 
      <a role="button" onClick="document.body.scrollIntoView({behavior:'smooth'})" href="javascript:void(0)">Top</a>
    </p>
  </div>
</footer>