<div class="grid" style="border-top: 1px solid #ddd;">
  <div style="border-bottom: 1px solid #ddd;">
    <p>&copy;2020 | Pankaj Parashar | <a href="/feed.xml">Feed</a></p>
  </div>
  <div style="text-align: right;border-bottom: 1px solid #ddd;">
    <p><a href="mailto:email@pankajparashar.com">Email</a> | <a href="https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fpankajparashar.com">Audit</a> | <a href="https://mailchi.mp/87d92feeb584/pankajparashar">Newsletter</a> | <a role="button" onClick="document.body.scrollIntoView({behavior:'smooth'})" href="javascript:void(0)" style="padding:5px 5px">↥</a>
  </p>
  </div>
</div>
