<div class="grid" style="margin-bottom: 2em;">
  <div>
    <h1 style="margin-bottom: 0;">Pankaj<br>Parashar 
      <span style="font-weight: normal;font-style: italic;"><a href="/">developer</a></span></h1>
  </div>
  <div>
    <a href="//twitter.com/pankajparashar">twitter</a>
    <br>
    <a href="mailto:email@pankajparashar.com">email@pankajparashar.com</a>
  </div>
  <div>
    <!-- Show a text ad -->
    <div class="flat" data-ea-publisher="pankajparasharcom" data-ea-type="text"></div>

    <!-- Show an image ad -->
    <div class="horizontal flat" data-ea-publisher="pankajparasharcom" data-ea-type="image"></div>
  </div>
</div>