<header role="banner">
  <h1 style="margin-bottom: 0;text-transform: none;"><a href="/">@pp</a></h1>
  <p>Designer. Developer. Writer.</p>
  <p>Hi. I'm Pankaj Parashar. I make things for the web & write about them on my blog here.</p>
  <nav class="menu-main-navigation-container">
    <p style="margin-bottom: 0;">Elsewhere:</p>
    <ul id="menu-main-navigation" class="menu" style="margin-top:0">
      <li id="menu-item-94" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-94">
        <a href="https://twitter.com/{{ site.twitter_username }}">+twitter</a></li>
      <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95">
        <a href="https://github.com/{{ site.github_username }}">+github</a></li>
        <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95">
          <a href="https://codepen.io/{{ site.github_username }}">+codepen</a></li>  
    </ul>
  </nav></header>