<title>{{ page.title | default: site.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ page.excerpt | default: site.description }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    {% include critical.css %}
</style>

<!-- Primary Meta Tags -->
<meta name="title" content="{{ page.title | default: site.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | default: site.url }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.excerpt | default: site.description }}">
<meta property="og:image" content="https://res.cloudinary.com/dw9fem4ki/image/upload/v1589698533/smartmockups_kaap7h6b_ynjusv.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | default: site.url }}">
<meta property="twitter:title" content="{{ page.title | default: site.title }}">
<meta property="twitter:description" content="{{ page.excerpt | default: site.description }}">
<meta property="twitter:image" content="https://res.cloudinary.com/dw9fem4ki/image/upload/v1589698533/smartmockups_kaap7h6b_ynjusv.jpg">