<header role="banner">
  <h1 style="margin-bottom: 0;text-transform: none;"><a href="/">@pp</a></h1>
  <p>Designer. Developer. Writer.</p>
  <p>I make things for the web & write about them on my blog here. Elsewhere,</p>
  <nav class="menu-main-navigation-container">
    <ul id="menu-main-navigation" class="menu">
      <li id="menu-item-94" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-94"><a
         href="">+twitter</a></li>
      <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="blog">+github</a></li>
    </ul>
  </nav></header>