
    <div class="link bb bl" style="padding: 1em;" {% if forloop.index != forloop.length %} class="bb" {% endif %}>
      <span class="mono" style="font-size:.8em;font-weight: normal; color: #999;margin-right: 1em;">{{ post.date | date: "%d.%m" }}</span>
        {% if post.link %}
          <a rel="noreferrer" href="{{post.link}}">
            {{post.title}}
          </a>
        {% else %}
          <a href="{{post.url}}">
            {{post.title}}
          </a>
        {% endif %}
      
      <!-- <span>{{ post.date | date: "%b %d" }}</span>{% if post.author %} ⋆ {{post.author}}{% endif %}
      <p>{{post.excerpt}}</p> -->
    </div>
  