<div class="grid">
    <div></div>
    <div {% if forloop.index != forloop.length %} class="bb" {% endif %}>
      <h1>
        {% if post.link %}
          <a rel="noreferrer" href="{{post.link}}">
            {{post.title}}
          </a>
        {% else %}
          <a href="{{post.url}}">
            {{post.title}}
          </a>
        {% endif %}
      </h1>
      <span>{{ post.date | date: "%b %d" }}</span>{% if post.author %} ⋆ {{post.author}}{% endif %}
      <p>{{post.excerpt}}</p>
    </div>
  </div>
  