---
layout: home
---

{% assign currentYear = page.date | date: "%Y" %}
<div class="bb">
  <p>{{ page.date | date: "%Y" }}</p>
</div>

{% for post in page.posts %}
  {% include posts.html %}
{% endfor %}


{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<div class="bb bt">
  <p style="text-align:center;max-width:100%">
    {% for year in postsByYear offset:1 %}
            {% if year.name == currentYear %}
              {{ currentYear }}
            {% else %}
              <a href="/{{year.name}}">{{ year.name }}</a>
            {% endif %} 
          {% if forloop.index != forloop.length %}
            |
          {% endif %}
        {% endfor %}
    </p>
  </div>
  