---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body data-barba="wrapper">
        <div class="grid">
            <div style="position: static;">
                {% include header.html %}
            </div>
            <div>
                <main data-barba="container" data-barba-namespace="home">
                    {{ content }}
                </main>
                {% include footer.html %}        
            </div>
        </div>
        <style>
            {% include deferred.css %}
        </style>
    </body>
</html>