---
layout: home
---

<div class="grid">
  <div>
      <p><span style="color:#21272A;font-weight:bold">{{ page.title }}</span></p>
      <p>Published on {{ page.date | date: "%b %d, %Y" }}</p>
  </div>
  <div>
    {{content}}
  </div>
</div>

<div class="grid" style="border-top: 1px solid #ddd;">
  <div>
    <p>
      {% if page.previous.url %}
      Previous<br><a href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}    
    </p>  
  </div>
  <div>
    <p style="text-align: right;">
      {% if page.next.url %}
      Next<br><a href="{{page.next.url}}">
        {{page.next.title}}</a>
      {% endif %}    
    </p>  
  </div>
</div>