---
layout: home
---

{% assign reading_time = content | strip_html | number_of_words | plus:91 | divided_by:180 %}

{% if reading_time <= 1 %}
  {% assign reading_time = '1' | append:' min read' %}
{% else %}
  {% assign reading_time = reading_time | append:' mins read' %}
{% endif %}

<div>
  <h1>{{ page.title }}</h1>
  <p>{{ page.excerpt }}</p>
  <p>{{ page.date | date: "%b %d, %Y" }} // {{ reading_time }}</p>
</div>

<div>
  {{content}}
</div>

<div>
  <p>Did you enjoy reading this artice? I'd love to hear your thoughts. Feel free to 
    <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | uri_escape }}&via={{site.twitter_username }}&text={{ page.title }}&hashtags={{ page.tags }}">send me a tweet</a> or 
    <a href="https://github.com/pankajparashar/pankajparashar.com/issues/new?title={{ page.title }}&body=via {{ page.url | prepend: site.url | uri_escape }}">open an issue</a> on Github to add your comments.
  </p>
</div>

<div>
  <p><strong>Next</strong><br>
  {% if page.next.url %}
    <a href="{{ page.next.link | default: page.next.url }}">{{page.next.title}}</a>
  {% else %}
    Upcoming...
  {% endif %}
  </p>
  {% if page.previous.url %}
    <p><strong>Previous</strong><br><a href="{{ page.previous.link | default: page.previous.url }}">{{page.previous.title}}</a></p>
    {% else %}
    <p>Previous<br>The End</p>
  {% endif %}    
</div>