---
layout: home
---

<div class="content single">
  <article class="feature">
    <header>
      <h1>
        <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
      <time datetime="2013-12-31" pubdate>{{ page.date | date: "%b %d, %Y" }} +
        {% assign words = page.content | number_of_words %} {% if words < 360 %} Less than 1 min {% else %} Approx
        {{ words | divided_by: 180 }} mins {% endif %}</time>
    </header>
    {% if page.excerpt %}
      <p>{{ page.excerpt }}</p>
    {% endif %}
    {{content}}
  </article>

  <div class="list-end">
    <p>+prev<br>
    {% if page.previous.url %}
      <a class="next" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}    
    </p>
  </div>

</div>